<div class="bg-white justify-between flex flex-col sm:flex-row space-y-4 md:space-y-0 space-x-2 my-2 shadow-lg rounded-sm border border-slate-200 px-5 py-4 border-l-pink-500 border-l-4">
  <%= component.title %>
</div>