<%= turbo_frame_tag "article", class: "flex flex-col gap-3" do %>
  <div class="m-12">
  <%= render partial: "components/article_cards", collection: @articles, cached: true, data: { turbo_action: "advance" } %>
  </div>
<% end %>
