<div class="overflow-clip overflow-y-auto  dark:bg-slate-900 h-96 rounded-lg ">
  <% comments.each do |comment| %>
    <%= render(Comments::CommentComponent.new(comment: comment)) %>
  <% end %>
</div>
