<div class="field">
  <%= f.label :password, class: "text-xs font-medium" %>
  <%= f.password_field :password, autocomplete: "current-password", class: 'block w-full text-input sm:text-sm sm:leading-6' %>
</div>