@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/base";

@import "flatpickr/dist/flatpickr.css";
@import "tippy.js/dist/tippy.css";
@import "tom-select/dist/css/tom-select.css";

@import "components/action_text.css";
@import "components/alerts.css";
@import "components/animations.css";
@import "components/announcements.css";
@import "components/buttons.css";
@import "components/forms.css";
@import "components/icons.css";
@import "components/typography.css";
@import "components/util.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

.main {
    flex: 1;
}

@layer components {

    .text-primary-500 { @apply text-gray-800 }

    /*OVERRIDES*/

    body { @apply bg-primary text-gray-900 dark:text-gray-100 p-3 font-sans; }
    select { @apply bg-form border-2 rounded-xl border-blue-200 p-1 mx-2 w-fit; }
    label { @apply p-1 ml-5; }
    input { @apply bg-amber-200 border-2 rounded-xl border-blue-200 p-1 mx-2; }
    hr { @apply w-2/3 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700; }


    p { @apply text-base mb-3 text-gray-500 dark:text-gray-400; }

    a {
        @apply text-primary-600;

        &:hover,
        &:focus {
            @apply text-primary-500;

            transform: none;
        }
    }

    .table-responsive { @apply block w-full overflow-x-auto; }
    ul { @apply list-disc list-inside; }
    ol { @apply list-decimal list-inside; }

    .table {
        @apply w-full;
        th, td {
            @apply align-top;
        }

    }

    /*BACKGROUNDS*/

    .bg-primary { @apply bg-neutral-50 dark:bg-blue-950; }
    .bg-secondary { @apply bg-gray-200 dark:bg-gray-800; }
    .bg-accent { @apply bg-yellow-300 dark:bg-yellow-400; }
    .bg-form { @apply bg-white dark:bg-slate-800 text-gray-700 dark:text-gray-100; }

    .bg-content { @apply bg-white dark:bg-slate-900 border-2 border-blue-400 text-white; }
    .bg-content-tertiary { @apply bg-white dark:bg-tertiary-950 dark:shadow-blue-400 rounded-xl shadow p-1; }


    .form_container {
        @apply bg-form lg:mx-12 md:mx-6 mx-1 flex flex-col items-center border-2 rounded-xl border-blue-50 p-1;
    }

    .form_field {
        @apply lg:w-2/3 md:w-4/5 sm:w-5/6 flex my-auto justify-between lg:gap-12 md:gap-4 sm:gap-3;
    }

    /*COLOURS*/
    .light-text {
        @apply text-gray-100 dark:text-gray-900;
    }

    .dark-text {
        @apply text-gray-900 dark:text-gray-100;
    }

    .light-text-interactive {
        @apply text-gray-100 dark:text-gray-800;
        transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

        &:hover,
        &:focus {
            @apply cursor-pointer text-white dark:text-gray-400;
        }
    }

    .dark-text-interactive {
        @apply text-gray-900 ;
        transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

        &:hover,
        &:focus {
            @apply cursor-pointer;
        }
    }

    /*UNORGANISED (Todo: Organise*/

    .article-image {
        @apply absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover;
    }

    .border-primary-element { @apply border-slate-300 dark:border-indigo-500; }
    .shadow-primary-element { @apply shadow shadow-slate-400 dark:shadow-indigo-500; }

    /*Avatar*/

    .avatar {
        font-size: 13px;
        font-weight: 600;
        position: relative;
        display: inline-flex;
        width: 3rem;
        height: 3rem;
        min-width: 14px;
        color: #fff;
        align-items: center;
        justify-content: center;

        .avatar-small {
            position: absolute;
            border-radius: 50%;
            height: 16px;
            width: 16px;
            bottom: 0;
            right: 0;
            box-shadow: 0 0 0 2px #fff;
        }
    }

    /*iFrames*/
    /* A couple handy classes for responsive YouTube and other iframe embeds */
    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .embed-container iframe, .embed-container object, .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /*Navigation*/
    .nav-link {
        @apply block no-underline text-gray-500 hover:text-gray-800 dark:text-gray-200 dark:hover:text-gray-200 px-2 py-1 text-base font-medium whitespace-nowrap;
        line-height: 30px;

        &.active {
            @apply font-semibold;
        }

        &:focus {
            @apply text-gray-900;
        }
    }


    /*Pagination*/
    .pagination {
        @apply inline-flex flex-wrap items-center justify-start;

        .page {
            &:first-child a, &:first-child {
                @apply rounded-tl rounded-bl;
            }

            &:last-child a, &:last-child {
                @apply rounded-tr rounded-br;
            }
        }

        .disabled, .gap {
            @apply border relative block leading-tight bg-white text-gray-500 no-underline py-2 px-3;
            @apply dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600;
            margin-left: -1px;
        }

        .page {
            &.active {
                @apply z-10 border border-primary-500 bg-primary-500 text-white relative block leading-tight no-underline py-2 px-3;
                @apply dark:bg-primary-800 dark:text-gray-200 dark:border-primary-600;
                margin-left: -1px;
            }

            a {
                @apply border relative block leading-tight bg-white text-primary-500 no-underline py-2 px-3;
                @apply dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600;
                margin-left: -1px;

                &:hover {
                    @apply bg-gray-200 dark:bg-gray-700;
                }
            }
        }
    }
}

/*Utility*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.transition {
    transition: ease-in-out 0.2s all;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}