@import "components";
@import "tailwindcss/components";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

.main {
    flex: 1;
}

@layer components {
    /*OVERRIDES*/

    body { @apply bg-primary text-gray-900 dark:text-gray-100 p-3 font-sans; }
    select { @apply bg-form border-2 rounded-xl border-blue-200 p-1 mx-2 w-fit; }
    label { @apply p-1 ml-5; }
    input { @apply bg-form border-2 rounded-xl border-blue-200 p-1 mx-2; }
    hr { @apply w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700; }
    h1, h2, h3, h4, h5, h6 { @apply font-semibold pb-3 ml-5; }

    h1, .h1 { @apply text-4xl font-bold leading-tight tracking-tight; }
    h2, .h2 { @apply text-3xl font-bold leading-tight; }
    h3, .h3 { @apply text-2xl font-bold leading-normal; }
    h4, .h4 { @apply text-xl font-bold leading-normal; }
    h5, .h5 { @apply text-lg font-bold leading-normal; }
    h6, .h6 { @apply font-bold; }

    p { @apply text-base mb-3 text-gray-500 dark:text-gray-400; }

    a {
        @apply text-primary-600;

        &:hover,
        &:focus {
            @apply text-primary-500;

            transform: none;
        }
    }

    .table-responsive { @apply block w-full overflow-x-auto; }
    ul { @apply list-disc list-inside; }
    ol { @apply list-decimal list-inside; }

    .table {
        @apply w-full;
        th, td {
            @apply align-top;
        }

    }

    /*BACKGROUNDS*/

    .bg-primary { @apply bg-gray-100 dark:bg-gray-900; }
    .bg-secondary { @apply bg-gray-200 dark:bg-gray-800; }
    .bg-accent { @apply bg-yellow-300 dark:bg-yellow-400; }
    .bg-form { @apply bg-white dark:bg-sky-900 text-gray-700 dark:text-gray-100; }

    /*BORDERS*/

    .light-border { @apply border-y-2 border-blue-300 dark:border-gray-700; }
    .dark-border { @apply border-y-2 border-gray-700; }

    /* BUTTONS */

    /* Hotwire's version of data-disable-with */
    button                  .when-disabled { display: none; }
    button[disabled]        .when-disabled { display: initial; }
    button                  .when-enabled { display: initial; }
    button[disabled]        .when-enabled { display: none; }

    @layer components {
        .btn {
            @apply inline-flex text-sm font-semibold text-center px-4 py-0 rounded-md no-underline items-center justify-between shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2;

            height: 40px;
            transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

            &:hover,
            &:focus {
                @apply cursor-pointer;
            }

            &:disabled {
                @apply opacity-75 cursor-not-allowed;
            }
        }

        .btn-small {
            @apply px-3 text-sm;

            height: 32px;
            line-height: 32px;
        }

        .btn-large {
            @apply text-base px-6;

            height: 48px;
            line-height: 48px;
        }

        .btn-primary {
            @apply bg-primary-800 text-white focus:ring-primary-500;

            &:hover,
            &:focus {
                @apply bg-primary-500 text-white;
            }

            &.btn-outline {
                @apply bg-transparent border border-primary-500 text-primary-500 shadow-none;

                &:hover,
                &:focus {
                    @apply bg-primary-500 text-white;
                }
            }
        }

        .btn-secondary {
            @apply bg-green-600 text-white focus:ring-green-500;

            &:hover,
            &:focus {
                @apply bg-green-500 text-white;
            }

            &.btn-outline {
                @apply bg-transparent border border-green-500 text-green-600 shadow-none;

                &:hover,
                &:focus {
                    @apply bg-green-500 text-white;
                }
            }
        }

        .btn-tertiary {
            @apply bg-neutral-800 text-white focus:ring-neutral-700;

            &:hover,
            &:focus {
                @apply bg-neutral-700 text-white;
            }

            &.btn-outline {
                @apply bg-transparent border border-neutral-500 text-neutral-800 dark:text-neutral-100 shadow-none;

                &:hover,
                &:focus {
                    @apply bg-neutral-700 text-white;
                }
            }
        }

        .btn-accent {
            @apply bg-accent-600 text-white focus:ring-accent-500;

            &:hover,
            &:focus {
                @apply bg-accent-500 text-white;
            }

            &.btn-outline {
                @apply bg-transparent border border-accent-500 text-accent-600 shadow-none;

                &:hover,
                &:focus {
                    @apply bg-accent-500 text-white;
                }
            }
        }

        .btn-danger {
            @apply bg-red-600 text-white focus:ring-red-500;

            &:hover,
            &:focus {
                @apply bg-red-500 text-white;
            }

            &.btn-outline {
                @apply bg-transparent border border-red-500 text-red-500 shadow-none;

                &:hover,
                &:focus {
                    @apply bg-red-500 text-white;
                }
            }
        }

        .btn-gray {
            @apply bg-gray-100 text-gray-800 hover:bg-gray-200 hover:text-gray-800 focus:ring-gray-600;
        }

        .btn-light-gray {
            @apply bg-gray-100 text-gray-800 hover:bg-gray-200 hover:text-gray-800 focus:ring-gray-600 dark:bg-gray-700 dark:text-gray-200;
        }

        .btn-white {
            @apply bg-white border border-gray-300 text-gray-700 hover:bg-gray-50 hover:text-gray-700 focus:ring-primary-500;

            &.primary {
                @apply text-primary-600;
            }

            &.secondary {
                @apply text-green-600;
            }

            &.tertiary {
                @apply text-gray-600;
            }

            &.gray {
                @apply text-gray-700;
            }
        }

        .btn-link {
            @apply text-primary-500 bg-transparent shadow-none;

            &:hover,
            &:focus {
                @apply text-primary-600;

                transform: none;
            }
        }

        .btn-light-blue {
            @apply text-primary-700 bg-primary-100 focus:ring-primary-700;
        }

        .btn-light-green {
            @apply text-green-700 bg-green-100 focus:ring-green-700;
        }

        .btn-light-red {
            @apply text-red-700 bg-red-100 focus:ring-red-700;
        }

        .btn-expanded, .btn-block {
            @apply flex justify-center w-full;
        }
    }


    .btn-panel { @apply cursor-pointer flex justify-center px-3 py-1; }
    .btn-panel-primary {
        @apply  btn-panel text-white dark:text-gray-900 ;
        transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

        &:hover,
        &:focus { @apply bg-blue-900  cursor-pointer; }
    }

    .btn-panel-accent {
        @apply btn-panel text-white dark:text-gray-900;
        transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

        &:hover,
        &:focus { @apply bg-yellow-400 cursor-pointer; }
    }

    .btn-panel-accent {
        @apply btn-panel text-white dark:text-gray-900;
        transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

        &:hover,
        &:focus { @apply bg-yellow-400 cursor-pointer; }
    }

    /*FIELDS*/

    .form_container { @apply bg-form lg:mx-12 md:mx-6 sm:mx-3 flex flex-col items-center border-2 rounded-xl border-blue-50 p-1 mx-2; }
    .form_field { @apply lg:w-2/3 md:w-4/5 flex my-auto justify-between lg:gap-12 md:gap-4 sm:gap-3; }

    /*COLOURS*/

    .light-text { @apply text-gray-100 dark:text-gray-900; }
    .dark-text { @apply text-gray-900 dark:text-gray-100; }
    .light-text-interactive {
        @apply text-gray-100 dark:text-gray-800;
        transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

        &:hover,
        &:focus { @apply cursor-pointer text-white dark:text-gray-400; }
    }
    .dark-text-interactive {
        @apply text-gray-900 ;
        transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;

        &:hover,
        &:focus { @apply cursor-pointer; }
    }

    /*NOTICES*/

    .notice {
        @apply lg:w-1/2 md:w-1/3 bg-green-300 text-white dark:text-gray-900 rounded-xl border-spacing-1 border-2 border-green-200 py-3 px-5 py-1 mb-8 text-center;
        transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;
    }

    .notice-alert {
        @apply lg:w-1/2 md:w-1/3 bg-red-300 text-white dark:text-gray-900 rounded-xl border-spacing-1 border-2 border-red-200 py-3 px-5 py-1 mb-8 text-center;
        transition: ease 0.3s background, ease 0.3s transform, ease 0.2s color;
    }

    .alert-notice { @apply text-blue-800 border-t-4 border-blue-300 bg-blue-50 dark:text-blue-400 dark:bg-gray-800 dark:border-blue-800; }
    .alert-warning { @apply text-yellow-800 border-t-4 border-yellow-300 bg-yellow-50 dark:text-yellow-400 dark:bg-gray-800 dark:border-yellow-800; }
    .alert-danger { @apply text-red-800 border-t-4 border-red-300 bg-red-50 dark:text-red-400 dark:bg-gray-800 dark:border-red-800; }
    .alert-success { @apply text-green-800 border-t-4 border-green-300 bg-green-50 dark:text-green-400 dark:bg-gray-800 dark:border-green-800; }

    /*UNORGANISED*/

    .article-image {
        @apply absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover;
    }


    /*ActionText*/

    .link_to_embed {
        white-space: normal;

        @apply mt-4 md:ml-4;

        [data-behavior='embed_url'] {
            @apply block md:ml-3 md:inline-block;
        }
    }

    .trix-content {
        img {
            display: inline-block;
            max-width: 100%;
            height: auto;
        }

        .attachment-gallery {
            > action-text-attachment,
            > .attachment {
                flex: 1 0 33%;
                padding: 0 0.5em;
                max-width: 33%;
            }

            &.attachment-gallery--2,
            &.attachment-gallery--4 {
                > action-text-attachment,
                > .attachment {
                    flex-basis: 50%;
                    max-width: 50%;
                }
            }
        }

        .embed {
            display: inline-block;
            line-height: 1;
            margin: 1em 0 !important;
            padding: 0 !important;
            width: 100%;
        }

        iframe, twitter-widget {
            display: inline-block !important;
        }
    }

    /* Trix attachment formatting */
    .attachment--preview {
        margin: 0.6em 0;
        text-align: center;
        width: 100%;
    }

    /* Tribute styles */
    .tribute-container {
        border-radius: 4px;
        border: 1px solid rgba(0,0,0,0.1);
        box-shadow: 0 0 4px rgba(0,0,0,0.1), 0 5px 20px rgba(0,0,0,0.05);

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            background: #fff;
            padding: 0.2em 1em;
            min-width: 15em;
            max-width: 100%;
        }

        .highlight {
            @apply bg-primary-500;
            color: #fff;

            span {
                font-weight: bold;
            }
        }
    }

    /* Tweet embeds */
    blockquote.twitter-tweet {
        display: inline-block;
        font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        border-color: #eee #ddd #bbb;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.15);
        margin: 10px 5px;
        padding: 0 16px 16px;
        max-width: 468px
    }

    blockquote.twitter-tweet p {
        font-size: 16px;
        font-weight: normal;
        line-height: 20px
    }

    blockquote.twitter-tweet a {
        color: inherit;
        font-weight: normal;
        text-decoration: none;
        outline: 0 none
    }

    blockquote.twitter-tweet a:hover,blockquote.twitter-tweet a:focus {
        text-decoration: underline
    }

    blockquote.twitter-tweet {
        position: relative;
        background: white;
        padding: 72px 20px 28px !important;
        box-shadow: none;
        border: 1px solid #e1e8ed;
        border-radius: 4px;
        margin: 0;
        font-style: normal;
        text-align: left;
        width: 500px;
        max-width: 100%
    }

    @media (max-width: 369px) {
        blockquote.twitter-tweet {
            padding:60px 17.5px 21.5px !important
        }
    }

    blockquote.twitter-tweet:before {
        content: 'Follow';
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 5.5px 12px 6.5px 33px;
        background: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m18.89 7.012c.808-.496 1.343-1.173 1.605-2.034-.786.417-1.569.703-2.351.861-.703-.756-1.593-1.14-2.66-1.14-1.043 0-1.924.366-2.643 1.078-.715.717-1.076 1.588-1.076 2.605 0 .309.039.585.117.819-3.076-.105-5.622-1.381-7.628-3.837-.34.601-.51 1.213-.51 1.846 0 1.301.549 2.332 1.645 3.089-.625-.053-1.176-.211-1.645-.47 0 .929.273 1.705.82 2.388.549.676 1.254 1.107 2.115 1.291-.312.08-.641.118-.979.118-.312 0-.533-.026-.664-.083.23.757.664 1.371 1.291 1.841.625.472 1.344.721 2.152.743-1.332 1.045-2.855 1.562-4.578 1.562-.422 0-.721-.006-.902-.038 1.697 1.102 3.586 1.649 5.676 1.649 2.139 0 4.029-.542 5.674-1.626 1.645-1.078 2.859-2.408 3.639-3.974.784-1.564 1.172-3.192 1.172-4.892v-.468c.758-.57 1.371-1.212 1.84-1.921-.68.293-1.383.492-2.11.593z' fill='%23ccc'/%3E%3C/svg%3E") 9px center no-repeat;
        background-size: 21px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #ccc;
        font-size: 14px
    }

    @media (max-width: 369px) {
        blockquote.twitter-tweet:before {
            display:none
        }
    }

    blockquote.twitter-tweet:after {
        content: '';
        position: absolute;
        top: 20px;
        left: 20px;
        width: 36px;
        height: 36px;
        background: #eee url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12 12c2.21 0 4-1.795 4-4 0-2.21-1.79-4-4-4s-4 1.79-4 4c0 2.205 1.79 4 4 4zm0 2c-2.665 0-8 1.335-8 4v2h16v-2c0-2.665-5.335-4-8-4z' fill='%23444'/%3E%3C/svg%3E") center center no-repeat;
        border-radius: 4px
    }

    @media (max-width: 369px) {
        blockquote.twitter-tweet:after {
            top:17.5px;
            left: 17.5px
        }
    }

    blockquote.twitter-tweet p {
        white-space: pre-wrap;
        margin: 0 0 28px
    }

    @media (max-width: 369px) {
        blockquote.twitter-tweet p {
            font-size:14px;
            margin-bottom: 16px
        }
    }

    blockquote.twitter-tweet a {
        border: 0;
        box-shadow: none;
        color: #2b7bb9
    }

    blockquote.twitter-tweet>a {
        color: #888
    }


    /*Animations*/


    .animated {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }


    /*Announcements*/

    .announcement-new {
        @apply bg-primary-100 text-primary-600;
    }

    .announcement-fix {
        @apply bg-red-100 text-red-600;
    }

    .announcement-update {
        @apply bg-green-100 text-green-600;
    }

    .announcement-improvement {
        @apply bg-purple-100 text-purple-600;
    }

    .unread-announcements span:before {
        @apply inline-block w-2 h-2 mr-1.5 rounded-full bg-red-500 content-[''];
    }


    /*Avatar*/

    .avatar {
        font-size: 13px;
        font-weight: 600;
        position: relative;
        display: inline-flex;
        width: 3rem;
        height: 3rem;
        min-width: 14px;
        color: #fff;
        align-items: center;
        justify-content: center;

        .avatar-small {
            position: absolute;
            border-radius: 50%;
            height: 16px;
            width: 16px;
            bottom: 0;
            right: 0;
            box-shadow: 0 0 0 2px #fff;
        }
    }

    /*iFrames*/
    /* A couple handy classes for responsive YouTube and other iframe embeds */

    .embed-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }
    .embed-container iframe, .embed-container object, .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /*Navigation*/

    .nav-link {
        @apply block no-underline text-gray-500 hover:text-gray-800 dark:text-gray-200 dark:hover:text-gray-300 px-2 py-1 text-base font-medium whitespace-nowrap;
        line-height: 30px;

        &.active { @apply font-semibold; }
        &:focus { @apply text-gray-900; }
    }


    /*Pagination*/

    .pagination {
        @apply inline-flex flex-wrap items-center justify-start;

        .page {
            &:first-child a, &:first-child { @apply rounded-tl rounded-bl; }
            &:last-child a, &:last-child { @apply rounded-tr rounded-br; }
        }

        .disabled, .gap {
            @apply border relative block leading-tight bg-white text-gray-500 no-underline py-2 px-3;
            @apply dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600;
            margin-left: -1px;
        }

        .page {
            &.active {
                @apply z-10 border border-primary-500 bg-primary-500 text-white relative block leading-tight no-underline py-2 px-3;
                @apply dark:bg-primary-800 dark:text-gray-200 dark:border-primary-600;
                margin-left: -1px;
            }

            a {
                @apply border relative block leading-tight bg-white text-primary-500 no-underline py-2 px-3;
                @apply dark:bg-gray-800 dark:text-gray-200 dark:border-gray-600;
                margin-left: -1px;

                &:hover {
                    @apply bg-gray-200 dark:bg-gray-700;
                }
            }
        }
    }



}

/*Utility*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.transition {
    transition: ease-in-out 0.2s all;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}